<h1>Classes</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Owner</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @character_classes.each do |cc| %>
      <tr>
        <td><%= link_to cc.identifier, character_class_path(cc) %></td>
        <td><%= cc.user.name %></td>
        <td><%= link_to cc.location, cc.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== @pagy.series_nav if @pagy.pages > 1 %>

<%= link_to "Register a class", new_character_class_path %>
