<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title><%= content_for(:title) || "Delve" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Delve">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Delve</strong></li>
        </ul>
        <ul>
          <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "outline secondary" %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main class="container">
      <% if notice %>
        <article role="alert"><%= notice %></article>
      <% end %>
      <%= yield %>
    </main>

    <footer class="container">
    </footer>
  </body>
</html>
